.sample-card-component {
    background-color: lightgray;
}

.category-container-fluid{
    margin-left: 15%;
}

.card {
    width: 60%;
    margin: 10px;
    padding: 10px;
    transition: all 0.2s ease-in-out;
  }
  
  .card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
  }
  

.carousel-container {
    display: flex;
    height: 80%;
    justify-content: center;
}

.carousel {
    width: 100%;
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* align carousel images */
.carousel-item {
    text-align: center;
    height: 100%;
}

.carousel-control-prev {
    background-color: white !important;
}

.carousel-control-next {
    background-color: white !important;
}

.top-page-container {
    display: flex;
    flex-direction: row;
    height: 10%;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 5px;
}

.bottom-page-container {
    display: flex;
    flex-direction: row;
    height: 10%;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.center-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.go-back-button {
    width: 40%;
    height: 100%;
    border-radius: 0 0 20rem 20rem !important;
    border: none !important;
    background-color: #798c73 !important;
}

p { 
    margin-bottom: 0 !important;
}

.container {
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px;
}

.top-right-quarter-circle-button {
    width: 10%;
    height: 100%;
    border-radius: 0 0 20rem 20rem !important;
    border: none !important;
    background-color: #9FB798 !important;
}

p { 
    margin-bottom: 0 !important;
}

.container {
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .circle-container {
    position: absolute;
    top: -10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
  }
  
  .circle {
    width: 500px;
    height: 115px;
    border-radius: 0 0 125px 125px;
    background-color: lightblue;
    color: black;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
  }

  
  .text-large {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
  }
  
  .text-small {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
  }